<nav class="header__navbar">
  <a href="/about" class="header__navbar_about">About</a>
  <a href="/cart" class="header__navbar_cart">CART(0)</a>
    <a href="/account" class="header__navbar_account">Account</a>
</nav>
