<div class="main__gradient"></div>
<div class="main__about-text-block">
    <h2>About our concept store</h2>
    <p>Our concept store is a place where you can find the most fashionable and trendy clothes and accessories.
        We are always up to date with the latest trends and are ready to offer you the best of the best. We
        value our customers and are always ready to help you choose the right thing. We are waiting for you in
        our store!</p>
</div>
