<div class="main__gradient"></div>
<div class="main__cart-list-of-items">
    <div class="main__cart-list-of-items_item">
        <a href="#">
            <img src="images/solutionsDotMainRing.webp" alt="Товар 1">
        </a>
        <h3>solutions "DOT" logo ring</h3>
        <p>11 440 RUB</p>
    </div>
    <div class="main__cart-list-of-items_item">
        <a href="#">
            <img src="images/826446_00.png.webp" alt="Товар 2">
        </a>
        <h3>Yeezy Gap Hoodie 'Black'</h3>
        <p>16 000 RUB</p>
    </div>
    <div class="main__cart-list-of-items_item">
        <a href="#">
            <img src="images/826447_00.png.webp" alt="Товар 3">
        </a>
        <h3>Yeezy Gap Hoodie 'Blue</h3>
        <p>13 500 RUB</p>
    </div>
    <div class="main__cart-list-of-items_item">
        <a href="#">
            <img src="images/950492_00.png.webp" alt="Товар 4">
        </a>
        <h3>Yeezy Gap Hoodie 'Green'</h3>
        <p>13 500 RUB</p>
    </div>
</div>
<div class="main__cart_total">
  {{#if condition}}
    <p>Total: {{total}} RUB</p>
  {{else}}
    <p>Total: 54440 RUB</p>
  {{/if}}
<!--  <p>Total: 54 440 RUB</p>-->
</div>
<div class="main__cart-block_buttons">
    <button class="main__cart-block_buttons_continue">Continue shopping</button>
    <button class="main__cart-block_buttons_checkout">Checkout</button>
</div>
