<div class="main__gradient"></div>
<div class="cart__userId">
    <h2>Input user id to check cart</h2>
    <form action="/cart" method="get" class="formCart">
        <label for="userId" class="userIdText">User ID:</label>
        <input type="text" id="userId" name="userId" required class="input-field">
<!--        <button type="submit" class="cartButton">Check Cart</button>-->
        <input type="button" value="Check Cart" class="userCheckCartButton" onclick="location.href='/user-product/' + document.querySelector('.cart__userId input').value">
    </form>
</div>






<!--<div class="account__reg_block">-->
<!--    <h2>Sign In or Sign Up</h2>-->
<!--    <div class="account__reg_buttons">-->
<!--        <form action="/signIn" method="get">-->
<!--            <button type="submit" class="loginButton">Sign In</button>-->
<!--        </form>-->
<!--        <form action="/signUp" method="get">-->
<!--            <button type="submit" class="registerButton">Sign Up</button>-->
<!--        </form>-->
<!--    </div>-->
<!--</div>-->