 <nav class="main__navbar" align="center">
    <a href="/" class="main__navbar_all">All</a>
    <a href="/category/2/products" class="main__navbar_top">Top</a>
    <a href="/category/3/products" class="main__navbar_jewelry">Jewelry</a>
    <a href="/category/4/products" class="main__navbar_accessories">Accessories </a>
     <a href="/category/5/products" class="main__navbar_pants">Pants </a>
</nav>

<div class="main__catalog">
    {{> product-card}}
</div>

