<div class="main__gradient"></div>
<div class="main__account-block">
  <div id="accountContainer">
    <h2>Welcome, {{{loggedInUsername}}}!</h2>
    <p>You are now logged in to your account.</p>
    <form id="logoutForm" action="/account" method="get">
      <button type="submit">Logout</button>
  </div>
</div>

