<div class="main__gradient"></div>
<div class="main__account-block">
  <div id="loginContainer">
    <h2>Login Page</h2>
    <form id="loginForm" action="/users/login" method="post" class="loginForm">
      <label for="email">Email:</label><br>
      <input type="text" id="email" name="email" required><br>
      <label for="password">Password:</label><br>
      <input type="password" id="password" name="password" required><br><br>
      <button type="submit" class="loginFormButton">Login</button>
    </form>
  </div>
</div>
